body { font-family: Helvetica, Arial, sans-serif; font-weight: 300; min-height: 700px; padding: 0; margin: 0; }

.container { max-width: 800px; margin: auto; padding: 0px 50px; }

.body.container { padding-bottom: 200px; }

div.narrow { padding: 0px 100px; }

hr { border: none; border-top-style: solid; border-width: thin; }

nav { background-color: #000; position: -webkit-sticky; position: sticky; top: 0px; width: 100%; z-index: 1; }

nav div.container { max-width: none; margin: auto; }

nav .logotype { margin: auto 0; padding: 9.5px 0; font-size: 20px; font-weight: 700; color: white; letter-spacing: 0.2em; }

nav div.float-right { float: right; }

nav a { display: inline-block; position: relative; color: #DDD; padding: 12px 20px; text-decoration: none; }

nav a:hover { color: #FFF; }

nav a.current { color: #999; }

nav .dropdown { display: inline-block; position: relative; }

nav .dropdown-content { display: none; position: absolute; padding: 10px 25px; min-width: 180px; background-color: #FFF; box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); z-index: 1; }

nav .dropdown-content a { display: block; padding: 7px 0; color: #555; text-decoration: none; text-align: left; }

nav .dropdown-content a * { margin: 0; }

nav .dropdown:hover .dropdown-content { display: block; left: -5px; right: auto; }

nav .dropdown-content a:hover { color: #000; }

nav .dropdown .dropdown-content a.current { color: #999; }

nav .dropdown-content a.delimiter { border-top: 2px solid red; margin-top: 8px; padding-bottom: 2px; color: #F00; font-size: 0.8em; font-weight: normal; letter-spacing: 0.1em; text-align: center; }

header { position: relative; background-image: linear-gradient(#000, #444); padding: 30px; }

header.fullscreen { position: absolute; display: flex; padding: 0; height: 100vh; width: 100vw; margin-top: auto; margin-bottom: auto; align-items: center; }

header h1, header h2, header h3 { color: white; text-align: center; }

header h1 { font-size: 4em; letter-spacing: -0.03em; }

header h2 { font-size: 2em; letter-spacing: -0.01em; }

header h3 { margin-top: 2em; margin-bottom: 1em; font-size: 1.15em; font-weight: 300; }

header hr { border-color: #F00; color: #F00; width: 20vw; }

h1, h2 { color: red; }

h3, h4, h5, h6 { margin-bottom: -7px; }

h1::before, h2::before, h3::before { display: block; content: " "; margin-top: -50px; height: 50px; visibility: hidden; pointer-events: none; }

a { color: inherit; }

a:hover { color: red; }

.white-on-black { background-color: black; color: white; }

h3 .delimiter { color: red; font-size: 0.8em; letter-spacing: 0.1em; }

h3 a.delimiter { border-top: 1px solid red; border-top-style: solid; }

table { justify-content: center; }

p { line-height: 130%; }

li { padding: 2px 0; }

ol ol { list-style-type: lower-alpha; }

.large { font-size: large; }

.x-large { font-size: x-large; }

.center { text-align: center; }

p img { display: block; margin: auto; }

code { font-size: 16px; }

iframe { display: block; margin: 0 auto; }

.max-width { display: block; width: 100%; max-width: 500px; margin: 20px auto; overflow: auto; }

.aspect-ratio { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; }

.aspect-ratio iframe { position: absolute; width: 100%; height: 100%; left: 0; top: 0; }

.highlight .hll { background-color: #ffffcc; }

.highlight .c { color: #408080; font-style: italic; }

/* Comment */
.highlight .err { border: 1px solid #FF0000; }

/* Error */
.highlight .k { color: #00A070; /*font-weight: bold*/ }

/* Keyword */
.highlight .o { color: #666666; }

/* Operator */
.highlight .cm { color: #408080; font-style: italic; }

/* Comment.Multiline */
.highlight .cp { color: #BC7A00; }

/* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic; }

/* Comment.Single */
.highlight .cs { color: #408080; font-style: italic; }

/* Comment.Special */
.highlight .gd { color: #A00000; }

/* Generic.Deleted */
.highlight .ge { font-style: italic; }

/* Generic.Emph */
.highlight .gr { color: #FF0000; }

/* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold; }

/* Generic.Heading */
.highlight .gi { color: #00A000; }

/* Generic.Inserted */
.highlight .go { color: #808080; }

/* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold; }

/* Generic.Prompt */
.highlight .gs { font-weight: bold; }

/* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold; }

/* Generic.Subheading */
.highlight .gt { color: #0040D0; }

/* Generic.Traceback */
.highlight .kc { color: #0000A0; font-weight: bold; }

/* Keyword.Constant */
.highlight .kd { color: #0000A0; font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn { color: #0000A0; font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp { color: #0000A0; }

/* Keyword.Pseudo */
.highlight .kr { color: #0050D0; font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt { color: #B00040; }

/* Keyword.Type */
.highlight .m { color: #666666; }

/* Literal.Number */
.highlight .s { color: #BA2121; }

/* Literal.String */
.highlight .na { color: #7D9029; }

/* Name.Attribute */
.highlight .nb { color: #008000; }

/* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold; }

/* Name.Class */
.highlight .no { color: #880000; }

/* Name.Constant */
.highlight .nd { color: #AA22FF; }

/* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold; }

/* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold; }

/* Name.Exception */
.highlight .nf { color: #0000FF; }

/* Name.Function */
.highlight .nl { color: #A0A000; }

/* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold; }

/* Name.Namespace */
.highlight .nt { color: #E03000; font-weight: bold; }

/* Name.Tag */
.highlight .nv { color: #19177C; }

/* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold; }

/* Operator.Word */
.highlight .w { color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf { color: #666666; }

/* Literal.Number.Float */
.highlight .mh { color: #666666; }

/* Literal.Number.Hex */
.highlight .mi { color: #666666; }

/* Literal.Number.Integer */
.highlight .mo { color: #666666; }

/* Literal.Number.Oct */
.highlight .sb { color: #BA2121; }

/* Literal.String.Backtick */
.highlight .sc { color: #BA2121; }

/* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic; }

/* Literal.String.Doc */
.highlight .s2 { color: #BA2121; }

/* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold; }

/* Literal.String.Escape */
.highlight .sh { color: #BA2121; }

/* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold; }

/* Literal.String.Interpol */
.highlight .sx { color: #008000; }

/* Literal.String.Other */
.highlight .sr { color: #BB6688; }

/* Literal.String.Regex */
.highlight .s1 { color: #BA2121; }

/* Literal.String.Single */
.highlight .ss { color: #19177C; }

/* Literal.String.Symbol */
.highlight .bp { color: #008000; }

/* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C; }

/* Name.Variable.Class */
.highlight .vg { color: #19177C; }

/* Name.Variable.Global */
.highlight .vi { color: #19177C; }

/* Name.Variable.Instance */
.highlight .il { color: #666666; }

/* Literal.Number.Integer.Long */

/*# sourceMappingURL=styles.css.map */